        body {
            font-family: 'Mukta', sans-serif,'Noto Sans TC', sans-serif;
            box-sizing: border-box;
            overflow-x: hidden;
            
        }

        a {
            text-decoration: none;
        }
        ul{
            list-style: none;
        }

        .full_bg{
            height:12.5rem;
            width: auto;
            margin: 20% auto;
            background: url(images/in-stock%20logo3_animated.svg) no-repeat center center;
            }
        .angle-down{
            bottom: 0;
            margin: 0 auto;
            text-align: center;
            font-size: 1.9rem;
        }   
        
        #tab-home{
            margin: 0 auto;
            background: transparent;
            height: 1vh;
            
        }

    /*---- nav -------*/
        nav{
            display: flex;
            flex-direction: row;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            background:#fae9c0;
            text-align: center;
            color:rgb(122, 61, 3);
            z-index: 2;
            
        }
        nav.fixed{
            position: fixed;
            top:0;
            right:0;
            left:0;
            
        }
        
        .et-hero-tab,.et-hero-form {
            display: flex;
            justify-content: center;
            align-items: center;
            padding:10px;
            color: rgb(122, 61, 3);
            letter-spacing: 0.1rem;
            transition: all 0.5s ease;
            font-size: 1.4rem;
            font-weight: 700;
            
        
        }   
        .et-hero-tab:hover{
            color:rgb(122, 61, 3);
            background: #facc98;
            text-decoration: none;
            transition: all 0.5s ease;
        }
        .et-hero-form:hover{
            color:rgb(122, 61, 3);
            text-decoration: none;
            transition: all 0.5s ease;
        }
        .menu-bar{
            display: inline-block;
            cursor: pointer;
            position: relative;
            justify-content: center;
            align-items: center;
            padding:10px;
            color: rgb(122, 61, 3);
            letter-spacing: 0.1rem;
            transition: all 0.5s ease;
            font-size: 1.4rem;
            font-weight: 700;
            
          }
        .menu-bar.active{
            background: #facc98;
          }
        .menu-bar ul{
            position: absolute;
            right:0;
            top: 62px;
            background:#facc98;
            width:120px;
            opacity: 0;
            max-height: 0;
            overflow: hidden;
          }
        .menu-bar.active ul{
            opacity: 1;
            max-height: 400px;
          }
        .menu-bar ul li a{
            display: block;
            color:rgb(122, 61, 3);
            font-size: 1.55rem
          }
        .menu-bar ul li a:hover{
            background: #fae9c0;
            text-decoration: none;
          }
        .bar_n{
        width: 36px;
        height: 6px;
        background:rgb(122, 61, 3);
        margin: 6px 0;
        border-radius: 2px;
        }
        .active .bar1{
                -webkit-transform: rotate(-45deg) translate(-9px, 7px) ;
                transform: rotate(-45deg) translate(-9px, 7px) ;
            }
        
        .active .bar2{opacity: 0;}
        
        .active .bar3{
                -webkit-transform: rotate(45deg) translate(-9px, -8px) ;
                transform: rotate(45deg) translate(-9px, -8px) ;
            }
        @media screen and (min-width:700px){
            .menu-bar  {
                display: none;
            }
        }      
        @media screen and (max-width:700px){
            .et-hero-tab,.et-hero-form{
                display: none;
            }
            .menu-bar ul {
                position: absolute;
                right: -133px;
                top: 62px;
                background: #facc98;
                width: 190px;
                overflow: hidden;
                text-align: left;
            }
            .menu-bar ul li a{ 
               padding: 0 1em;
            }
            
        } 
        /*-------------about us-------------- */
        .about{
            background: url(images/about-us\ 1500x1040.jpg) no-repeat center center;
            background-size: cover;
            overflow: hidden;
        }
        .box{
            width: 100%;
            height: 100vh;
        }
        .bg-surf {
            width: 100%;
            height: 100vh;
            background: rgba(0, 16, 31, 0.466);
        }
        .et-slide{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            text-align: center;
        }
        .about_us,.menu_box,.news_box,.Contact {
            /* max-width: 1240px; */
            margin: 4rem auto;
            padding: 5% 10px;
        }      
        .et-main h1{
            font-size: 3.5rem;
            font-weight: 700;
            color: rgb(209, 103, 3);
            text-align: center;
            
        }
        .et-main h4{
            font-size: 2rem;
            font-weight:bold;
            text-align: center;
            color: rgb(230, 230, 230);
        }
        .slide-about p{  
            font-size: 1.2rem;
            text-align: left; 
            display: block;
            height:  40%;
            column-count:1;
            margin: 0 30%;
            color: rgb(230, 230, 230);
        }
        .btn-toAbout{
            border: 1px solid white;
            height: 45px;
            width: 18vw;
            margin-top:3%; 
            margin-bottom: 8px;
            line-height: 2rem;
            color: rgb(230, 230, 230);
        }
        .btn-toAbout a{
            color: rgb(230, 230, 230)
        }
        
        /*--------- section menu------------ */
        .o_box.show{
            opacity: 1;
            transition: .5s ease-in ;
        }     
        .o_box{
            text-align: left;
        }
        .o_box img{
            opacity: 0;
            width: 70%;
        }
        .menu_ctn{
            margin: 10rem 0;
            margin-left: 10rem;
        }
        .btn-tomenu{
            border: 1px solid rgb(78, 78, 78);
            height: 45px;
            width: 18vw;
            margin-top:3%; 
            margin-bottom: 8px;
            line-height: 2rem; 
        }
        .btn-tomenu a{
            color: rgb(48, 48, 48);
        }
        /*--------- section news------------ */
        /* .news_box h1{
            margin-top: 6rem;
        } */
        .square_box {
            height: 35vh;
        }
        .img_box {
            /* opacity: 0.7; */
            object-fit: cover;
            width: 100%;
            height: 90%;
            transition: .2s;
            filter:brightness(.9) opacity(1);
        }
        .hover_box:hover .img_box {
            /* opacity: 1; */
            filter:brightness(.9) opacity(.5);

        }
        .odd {
            justify-content: center;
            padding: 1.3vh 4%;
            background:rgba(0,0,0,.5);
            border-radius: 10px;
            transition: .2s;
            /* width: 38vw; */
        }
        .odd_box {
            justify-content: flex-end;
        }
        .even {
            text-align: left;
            padding: 1.3vh 4%;
            background:rgba(0,0,0,.3);
            border-radius: 10px;
            transition: .2s;
            
        }

        .even_box {
            justify-content: flex-start;

        }
        .hover_box:hover .odd, .hover_box:hover .even{
            background:rgba(0,0,0,.6);
            /* background:rgba(255,255,255,.2); */
            /* background:rgba(0,0,0,0); */

        }
        
        .center_box {
            width: 100%;
            padding: 0 8%;
        }

        .center_box h3 {
            font-size: 2rem;
            color: #FF7A5A;
            font-weight: 400;
            letter-spacing: .5rem;
        }

        .center_box p {
            font-size: 1.5rem;
            font-weight: 300;
            letter-spacing: 1px;
            color:white;
            line-height: 1.4;
        }
        /* 按鈕 */

        .mainBtn {
            background-color: #FF7A5A;
            color: #ffffff;
            width:150px;
        }
        .mainBtn:hover {
            background-color: #D1644A;
        }
        .secBtn {
            background-color: #FDB45F;
            color: #ffffff;
        }
        /*---------- section map---------- */
        .Contact{
            background: url(images/contact.jpg) no-repeat center center;
            background-size:cover;
            overflow: hidden;
            width: 100%;
            height: 100vh;    
        }
        .card{
            margin: 0 25%;
        }
        .iframe-rwd {
            position: relative;
            padding-bottom: 50%;
            padding-top: 30px;
            height: 0;
            overflow: hidden;
        }
        .iframe-rwd iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        /*------------------------------ about -----------------------------------*/
        .slider_container{
            position: relative;
            margin: 2% auto;
            width: 82em;
            height: 38.75em;
        }
        
        .slider_container div {
         position: absolute; 
         top: 0;
         left: 0;
         opacity: 0;
         filter: alpha(opacity=0);
         }

         .slider_container div {
             -webkit-animation: round 12s linear infinite;
                     animation: round 12s linear infinite;
         }
         
         @-webkit-keyframes round {
             8.3% {
                 opacity: 1;
                 filter: alpha(opacity=100);
                 /* 0 - 1秒 淡入*/
             }
             33.2% {
                 opacity: 1;
                 filter: alpha(opacity=100);
                 /* 1- 3秒靜止*/
             }
             41.5% {
                 opacity: 0;
                 filter: alpha(opacity=0);
                 /* 4-5秒淡出*/
             }
         }
         @keyframes round {
             8.3% {
                 opacity: 1;
                 filter: alpha(opacity=100);
                 /* 0 - 1秒 淡入*/
             }
             33.2% {
                 opacity: 1;
                 filter: alpha(opacity=100);
                 /* 1- 5秒靜止*/
             }
             41.5% {
                 opacity: 0;
                 filter: alpha(opacity=0);
                 /* 5-6秒淡出*/
             }
         }
         .slider_container div:nth-child(1) {
             -webkit-animation-delay: 0s;
                     animation-delay: 0s;
         }
         
         .slider_container div:nth-child(2) {
             -webkit-animation-delay: 4s;
                     animation-delay: 4s;
         }
         
         .slider_container div:nth-child(3) {
             -webkit-animation-delay: 8s;
                     animation-delay: 8s;
         }

         /*team section*/
        .team{
            padding-bottom: 60px;
        }
        .team h2{
            font-size: 3.5rem;
            font-weight: 700;
            color: rgb(209, 103, 3);
            margin-top: 50px;
            margin-bottom: 0;
        }
        .team h4{
            font-size: 1.3rem;
            color: #737373;
            margin-top: 2%;
            margin-bottom: 45px;
        }
        .single-member{
            margin: 0;
            padding: 0;
        }
        .person img{
            width: 100%;
        }
        .person-detail{
            padding:10px;
            background: #b37423;
            position: relative;
            transition: all .7s ease 0s;
            -webkit-transition: all .7s ease 0s;
            -moz-transition: all .7s ease 0s;
            -o-transition: all .7s ease 0s;
            -ms-transition: all .7s ease 0s;
        }
        .arrow-top{
            position: absolute;
            width: 20px;
            height: 20px;
            background: #b37423;
            transform:rotate(45deg);
            -webkit-transform:rotate(45deg);
            -moz-transform:rotate(45deg);
            -o-transform:rotate(45deg);
            -ms-transform:rotate(45deg);
            bottom: -10px;
            left: 46%;
            transition: all .7s ease 0s;
            -webkit-transition: all .7s ease 0s;
            -moz-transition: all .7s ease 0s;
            -o-transition: all .7s ease 0s;
            -ms-transition: all .7s ease 0s;
        }
        .arrow-bottom{
            position: absolute;
            width: 20px;
            height: 20px;
            background: #b37423;
            transform:rotate(45deg);
            -webkit-transform:rotate(45deg);
            -moz-transform:rotate(45deg);
            -o-transform:rotate(45deg);
            -ms-transform:rotate(45deg);
            top: -9px;
            left: 46%;
            transition: all .7s ease 0s;
            -webkit-transition: all .7s ease 0s;
            -moz-transition: all .7s ease 0s;
            -o-transition: all .7s ease 0s;
            -ms-transition: all .7s ease 0s;
        }
        .person-detail h3{
            font-size: 30px;
            color: #fff;
        }
        .person-detail p{
            font-size: 13px;
            color: #fff;
            font-family: 'Open Sans', sans-serif;
        }
        .single-member:hover .person-detail{
            background: #2a2a2a;
        }
        .single-member:hover .arrow-top{
            background: #2a2a2a;
        }
        .single-member:hover .arrow-bottom{
            background: #2a2a2a;
        }
         /*----------- menu------------- */
         #menu h1{
            font-size: 36px;
            font-weight: 700;
            color: rgb(122, 61, 3);
            text-align: center;
           
        }
        #menu .heading{
            color: #5C5C5C;
            font-size: 24px;
            font-weight: 400;
        }
        #menu h4 {
            line-height: 1.5;
            font-size: 18px;
            font-weight:bold;
        }
        #menu h5 {
            font-size: 14px;
            
        }
        #menu .col-md-8 {
          padding-bottom: 1px;
          margin-bottom: 40px;
          border-bottom: 2px solid #828282;
          display: flex;
          
        }
        #menu .col-md-6 {
          padding-bottom: 30px;
          
          
        }
        #menu span {
          color: #5C5C5C;
        }
        #menu{
            padding-top: 50px;
            padding-bottom: 50px;
            background: #f0f0f0;
            
        }
        
        .parallax-section {
          background-attachment: fixed !important;
          background-size: cover !important;
        }
        .heading {
            font-size: 22px;
            font-weight: 500;

          }
        .meat-bar:hover {
            text-decoration: none

          }

          ul.tabs li.active  {
            background: #fff;
            border: 1px solid#fff;
        }  
        .transition{
            transition: 0.4s;
          }
     
        .menu3{
            display: inline-block;
            cursor: pointer;
            position: relative;
            padding: 0 0 0 2px;
            margin-left: 150px;
            margin-top: -50px;
          }
        .menu3.active{
            background: #fff;
          }
        .menu3 ul{
            position: absolute;
            left:0;
            top:42px;
            background:rgba(255,255,255,.8);
            width:120px;
            opacity: 0;
            max-height: 0;
            overflow: hidden;
          }
        .menu3.active ul{
            opacity: 1;
            max-height: 400px;
          }
        .menu3 ul li a{
            display: block;
            padding:10px 12px;
            color:#363636;
            font-size: 1.55rem
          }
        .menu3 ul li a:hover{
            background: rgb(175, 175, 175);
            text-decoration: none;
          }
        ul,li{
            list-style: none;
            padding: 0;
            margin: 0;
          }
        .bar{
              width: 36px;
              height: 6px;
              background: #666;
              margin: 6px 0;
              border-radius: 2px;
          }
        .active .bar1{
              -webkit-transform: rotate(-45deg) translate(-9px, 7px) ;
              transform: rotate(-45deg) translate(-9px, 7px) ;
          }
        
        .active .bar2{opacity: 0;}
        
        .active .bar3{
              -webkit-transform: rotate(45deg) translate(-9px, -8px) ;
              transform: rotate(45deg) translate(-9px, -8px) ;
          }  
          @media screen and (max-width:960px)and (min-width:640px){
            .menu3 li{
                display: flex;
                
            } 
            
         } 
         /*----------- footer------------- */
         .copyright{
            color: #999;
            padding: 10px;
            font-size: 12px;
            text-align: center;
            }
      